parameters:
    bootstrap: null
    excludes_analyse: [
        "tests"
    ]
    autoload_directories: [
        "%rootDir%/../../../tests",
        "%rootDir%/../../../src/Migrations"
    ]
    autoload_files: [
        "%rootDir%/../../../bin/.phpunit/phpunit-6.5/vendor/autoload.php"
    ]
    fileExtensions:
        - php
    checkAlwaysTrueCheckTypeFunctionCall: true
    checkAlwaysTrueInstanceof: true
    checkAlwaysTrueStrictComparison: false
    checkClassCaseSensitivity: true
    checkFunctionArgumentTypes: true
    checkFunctionNameCase: true
    checkArgumentsPassedByReference: false
    checkMaybeUndefinedVariables: true
    checkNullables: true
    checkThisOnly: true
    checkUnionTypes: false
    reportMaybes: false
    polluteScopeWithLoopInitialAssignments: true
    polluteCatchScopeWithTryAssignments: false
    reportMagicMethods: false
    reportMagicProperties: false
    ignoreErrors:
    internalErrorsCountLimit: 50
    reportUnmatchedIgnoredErrors: true
    scopeClass: PHPStan\Analyser\Scope
    universalObjectCratesClasses:
        - stdClass
        - SimpleXMLElement
    earlyTerminatingMethodCalls: []
    memoryLimitFile: '%tmpDir%/phpstan_memory_limit'
    symfony:
        container_xml_path: 'var/cache/dev/srcApp_KernelDevDebugContainer.xml'
    dynamicConstantNames:
        - ICONV_IMPL
        - PHP_VERSION
        - PHP_EXTRA_VERSION
        - PHP_OS
        - PHP_OS_FAMILY
        - PHP_SAPI
        - DEFAULT_INCLUDE_PATH
        - PEAR_INSTALL_DIR
        - PEAR_EXTENSION_DIR
        - PHP_EXTENSION_DIR
        - PHP_PREFIX
        - PHP_BINDIR
        - PHP_BINARY
        - PHP_MANDIR
        - PHP_LIBDIR
        - PHP_DATADIR
        - PHP_SYSCONFDIR
        - PHP_LOCALSTATEDIR
        - PHP_CONFIG_FILE_PATH
        - PHP_CONFIG_FILE_SCAN_DIR
        - PHP_SHLIB_SUFFIX
        - PHP_FD_SETSIZE
        - PHP_MAJOR_VERSION
        - PHP_MINOR_VERSION
        - PHP_RELEASE_VERSION
        - PHP_VERSION_ID
        - PHP_ZTS
        - PHP_DEBUG
        - PHP_MAXPATHLEN

extensions:
    rules: PHPStan\DependencyInjection\RulesExtension

includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
